<div class="container", style ="background-image: url('/assets/サーキットコーナー.jpg');">
  <div class="row">
    <div class="col-md-3">
      <% if user_signed_in? %>
      <div class="card">
        <div class="card-body">
          <%= link_to "+", new_post_path, class: "btn btn-primary btn-lg btn-block" %>
        </div>
      </div>
      <% end %>
    </div>
    
    <div class="col-md-4">
      <h1 class="timeline-heading text-white">タイムライン</h1>
      <% @posts.each do |post| %>
        <div class="card timeline-post">
          <div class="card-header post-header">
            <div class="post-avatar">
              <% if post.user.present? %>
                <%= link_to post_path(post.id), class: "post-author" do %>
                  <%= post.user.nickname %>
                <% end %>
              <% else %>
                <span class="deleted-author">削除された投稿者</span>
              <% end %>
            </div>
            <div class="post-info">
              <h2 class="post-title"><%= post.title %></h2>
              <p class="post-body"><%= post.body %></p>
            </div>
          </div>
          <div class="card-body post-image">
            <% if post.image.attached? %>
              <%= image_tag post.image, class: "post-image-preview", size: "200x160" %>
            <% end %>
          </div>
          <div class="card-footer post-actions">
            <div class="comment-count">
              <%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %>
            </div>
            <% if admin_signed_in? %>
              <div class="delete-post">
                <%= button_to post_path(post.id), method: :delete, class: "btn btn-danger delete-button" do %>
                  削除する
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <% if admin_signed_in? %>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <%= link_to "イベント投稿管理", track_events_path, class: "btn btn-primary btn-lg btn-block" %>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <%= link_to "パーツレビュー管理", parts_path, class: "btn btn-primary btn-lg btn-block" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>