<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center">イベント一覧</h1>
      <%= link_to "投稿する", new_track_event_path, class: "btn btn-primary" %>
      
      <% @events.each do |te| %>
        <div class="event">
          <p>投稿者</p>
          <% if te.user.present? %>
            <%= te.user.nickname %>
          <% else %>
            削除された投稿者
          <% end %>
          
          <p>タイトル</p>
          <%= te.title %>
          
          <p>走行カテゴリー</p>
          <%= te.run_category %>
          
          <p>走行日時</p>
          <%= te.run_date.strftime('%Y/%m/%d') %>
          
          <p>参加費</p>
          <%= te.price %>円
          
          <p>募集人数</p>
          <%= te.number_people %>人
          
          <p>詳細</p>
          <%= te.body %>
          <p>
            <%= link_to track_event_favorites_path(@post), method: :post do %>
              ♡<%= @post.favorites.count %> いいね
            <% end %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>