<div class="container eventindex">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center text-white">イベント一覧</h1>
      <%= link_to "投稿する", new_track_event_path, class: "btn btn-primary" %>

      <% @events.each do |te| %>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">タイトル: <%= link_to te.title, track_event_path(te) %></h5>
            <h6 class="card-subtitle mb-2 text-muted">投稿者: <% if te.user.present? %><%= te.user.nickname %><% else %>削除された投稿者<% end %></h6>
            <p class="card-text">走行カテゴリー: <%= te.run_category %></p>
            <p class="card-text">走行日時: <%= te.run_date.strftime('%Y/%m/%d') %></p>
            <p class="card-text">参加費: <%= te.price %>円</p>
            <p class="card-text">募集人数: <%= te.number_people %>人</p>
            <p class="card-text">詳細: <%=safe_join(te.body.split("\n"),tag(:br))%></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>