<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="text-center">イベント参加募集投稿</h1>

      <%= form_for @event do |f| %>
        <div class="form-group">
          <%= f.label :title, "タイトル" %>
          <%= f.text_field :title, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :run_category, "走行カテゴリー" %>
          <%= f.select :run_category, [["レース", "レース"], ["タイムアタック", "タイムアタック"], ["ドリフト", "ドリフト"], ["ジムカーナ", "ジムカーナ"]], { include_blank: "カテゴリーを選択してください" }, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :run_date, "走行日時" %>
          <%= f.text_field :run_date, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :price, "参加費" %>
          <%= f.text_field :price, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :number_people, "募集人数" %>
          <%= f.text_field :number_people, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :body, "詳細" %>
          <%= f.text_area :body, class: "form-control" %>
        </div>

        <%= f.submit "投稿する", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>