<div class="container">
  <h1 class="text-white"><%= @section_title %></h1>
  
  <div class="col-md-4">
    <% if @events.any? %>
     <% @events.each do |te| %>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">タイトル: <% if current_user %><%= link_to te.title, track_event_path(te) %><% else %><%= te.title %><% end %></h5>
            <h6 class="card-subtitle mb-2 text-muted">投稿者: <% if te.user.present? %><%= te.user.nickname %><% else %>削除された投稿者<% end %></h6>
            <p class="card-text">走行カテゴリー: <%= te.run_category %></p>
            <p class="card-text">走行日時: <%= te.run_date.strftime('%Y/%m/%d') %></p>
            <p class="card-text">参加費: <%= te.price %>円</p>
            <p class="card-text">募集人数: <%= te.number_people %>人</p>
            <p class="card-text">詳細: 
              <%if te.body.nil? %>
                <%= te.body %>
              <% else %>
                <%=safe_join(te.body.split("\n"),tag(:br))%>
              <%end %>
            </p>
            <% if admin_signed_in? %>
              <%= button_to track_event_path(te.id), method: :delete, class: "btn btn-danger", data: { confirm: "本当に削除しますか？" } do %>
                削除する
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>No results found.</p>
    <% end %>
  </div>
</div> 