
<div class="container eventshow">
  <div class="py-5">
    <div class="row justify-content-center">
      <div class="col-md-5 offset-1">
        <div class="event text-white">
          <table style="border-spacing: 10px;">
            <tr>
              <th>投稿者</th>
              <% if @event.user.present? %>
                <td><%= link_to @event.user.nickname, user_path(@event.user_id) %></td>
              <% else %>
                <td>削除された投稿者</td>
              <% end %>
            </tr>
            <tr>
              <th>タイトル</th>
              <td><%= @event.title %></td>
            </tr>
            <tr>
              <th>場所</th>
              <td><%= @event.location %></td>
            </tr>
            <tr>
              <th>走行カテゴリー</th>
              <td><%= @event.run_category %></td>
            </tr>
            <tr>
              <th>開催日</th>
              <td><%= @event.run_date.strftime('%Y/%m/%d') %></td>
            </tr>
            <tr>
              <th>申し込み期限日</th>
              <td><%= @event.due_date %></td>
            </tr>
            <tr>
              <th>参加費</th>
              <td><%= @event.price %>円</td>
            </tr>
            <tr>
              <th>支払方法</th>
              <td><%= @event.payment_method %></td>
            </tr>
            <tr>
              <th>募集人(台)数</th>
              <td><%= @event.number_people %>人</td>
            </tr>
            <tr>
              <th>主催連絡先</th>
              <td><%= @event.contact_address %></td>
            </tr>
          </table>
        </div>
      </div>
      
      
      <div class="col-md-6">
        <div class="text-white">
          <th>詳細</th><br>
            <%if @event.body.nil? %>
              <%= @event.body %>
            <% else %>
              <%=safe_join(@event.body.split("\n"),tag(:br))%>
            <%end %><br>
            
            <% if current_user == @event.user %>
              <% if @event.deadline.present? %>
                <i class="fa-sharp fa-solid fa-flag-checkered fa-2xl"></i><br>
                <%= @event.deadline.strftime('%Y/%m/%d') %><br>
                締め切り済み。
              <% else %>
                <%= button_to "締め切りを設定する", update_deadline_event_path(@event), method: :patch, params: { track_event: { deadline: Time.now } }, class: "btn btn-primary" %>
              <% end %>
            <% else %>
              <% if @event.deadline.present? %>
                <i class="fa-sharp fa-solid fa-flag-checkered fa-2xl"></i><br>
                <%= @event.deadline.strftime('%Y/%m/%d') %><br>
                このイベントは締め切り済みです。
              <% end %>
            <% end %>
          </div>
          <%= link_to "一覧に戻る", track_events_path, class: "btn btn-primary" %>
          <% if current_user == @event.user %>
            <%= link_to "編集する", edit_track_event_path(@event), class: "btn btn-primary" %>
          <% end %>
        </div>
        <div class="col-md-5 offset-2 text-white">
      <h1>投稿詳細</h1>

      <div class="text-white">
        <%if @post.body.nil? %>
          <%= @post.body %>
        <% else %>
          <%=safe_join(@post.body.split("\n"),tag(:br))%>
        <%end %>
        <% if @post.image.attached? %>
          <%= image_tag @post.image, size: "160x120" %>
        <% end %>
        <p>投稿者：<%= link_to @post.user.nickname, user_path(@post.user_id) %></p>
        <p>投稿日時：<%= @post.created_at.strftime('%Y/%m/%d %H:%M:%S') %></p>
        <% if @post.user == current_user %>
          <%= link_to "削除", post_path(@post), method: :delete %>
        <% end %>
      </div>

      <% if @post.favorited_by?(current_user) %>
        <p>
          <%= link_to post_favorites_path(@post), method: :delete do %>
            ♥<%= @post.favorites.count %> いいね
          <% end %>
        </p>
      <% else %>
        <p>
          <%= link_to post_favorites_path(@post), method: :post do %>
            ♡<%= @post.favorites.count %> いいね
          <% end %>
        </p>
      <% end %>
    </div>
    <div class="col-md-4 text-white">
      <div>
        <p>コメント件数：<%= @post.post_comments.count %></p>
        <% @post.post_comments.each do |post_comment| %>
          <%= post_comment.user.nickname %><br>
          <%= post_comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %><br>
          <%= post_comment.comment %><br>
          <% if post_comment.user == current_user %><br>
            <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
          <% end %>
        <% end %>
      </div>
      <div class="sidebar">
        <%= form_with model: [@post, @post_comment] do |f| %>
          <% if user_signed_in? %>
            <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
            <%= f.submit "送信する" %>
          <% else %>
            <p>投稿するにはログインが必要です。</p>
            <%= link_to 'ログイン', new_user_session_path %>
          <% end %>
        <% end %>
      </div>
    </div>
      </div>
    </div>
  </div>
</div>