<div class="container partindex">
  <h1 class="text-center text-white">パーツレビュー</h1>
  <div class="text-center mb-3">
    <%= link_to "投稿する", new_part_path, class: "btn btn-primary" %>
  </div>

  <div class="row row-cols-1 row-cols-md-4">
    <% @parts.each do |pa| %>
      <div class="col mb-4">
        <div class="card text-white bg-dark">
          <% if pa.parts_image.attached? %>
            <%= image_tag pa.parts_image, class: "card-img-top", alt: "パーツ画像" %>
          <% else %>
            <%= image_tag "default-image.jpg", class: "card-img-top", alt: "default-image.jpg" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= pa.parts_name %></h5>
            <% if pa.user && pa.user.present? %>
              <p class="card-text">車種: <%= pa.user.mycar %></p>
            <% else %>
              <!-- ユーザーが存在しない場合の処理 -->
            <% end %>
            <% if pa.user.present? %>
              <%= link_to pa.user.nickname, part_path(pa), class: "btn btn-primary" %>
            <% else %>
              <p>削除された投稿者</p>
            <% end %>
            <% if admin_signed_in? %>
              <%= button_to part_path(pa.id), method: :delete, class: "btn btn-danger delete-button" do %>
                削除する
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>