<div class="container partshow">
  <h1 class="text-center text-white">パーツ詳細</h1>
  <table class="table text-center text-white">
      <tr>
        <th>投稿者</th>
        <td>
          <%= link_to @part.user.nickname, @part.user %>
        </td>
      </tr>
      <tr>
        <th>車種</th>
        <td><%= @part.user.mycar %></td>
      </tr>
      <tr>
        <th>パーツ名</th>
        <td><%= @part.parts_name %></td>
      </tr>
      <tr>
        <th>画像</th>
        <td>
          <% if @part.parts_image.attached? %>
            <%= image_tag @part.parts_image, size: "160x120" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>値段</th>
        <td><%= @part.howmuch %>円</td>
      </tr>
      <tr>
        <th>効果</th>
        <td><%= @part.effect %></td>
      </tr>
      <tr>
        <th>レビュー</th>
        <td>
          <%if @part.review.nil? %>
            <%= @part.review %>
          <% else %>
            <%=safe_join(@part.review.split("\n"),tag(:br))%>
          <%end %>
        </td>
      </tr>
  </table>
    <div class="text-white">
      <%if @post.body.nil? %>
        <%= @post.body %>
      <% else %>
        <%=safe_join(@post.body.split("\n"),tag(:br))%>
      <%end %>
      <% if @post.image.attached? %>
         <%= image_tag @post.image, size: "160x120" %>
      <% end %>
      <p>投稿者：<%= link_to @post.user.nickname, user_path(@post.user_id) %></p>
      <p>投稿日時：<%= @post.created_at.strftime('%Y/%m/%d %H:%M:%S') %></p>
      <% if @post.user == current_user %>
        <%= link_to "削除", post_path(@post), method: :delete %>
      <% end %>
                
                <!--いいねの表示関係-->
      <% if @post.favorited_by?(current_user) %>
        <p>
          <%= link_to post_favorites_path(@post), method: :delete do %>
            ♥<%= @post.favorites.count %> いいね
          <% end %>
        </p>
      <% else %>
        <p>
          <%= link_to post_favorites_path(@post), method: :post do %>
            ♡<%= @post.favorites.count %> いいね
          <% end %>
        </p>
      <% end %>
    </div>
    <div class="col-md-4 text-white">
      <div>
        <p>コメント件数：<%= @post.post_comments.count %></p>
        <% @post.post_comments.each do |post_comment| %>
          <%= post_comment.user.nickname %><br>
          <%= post_comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %><br>
          <%= post_comment.comment %><br>
          <% if post_comment.user == current_user %><br>
            <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
          <% end %>
        <% end %>
      </div>
      <div class="sidebar">
        <%= form_with model: [@post, @post_comment] do |f| %>
          <% if user_signed_in? %>
            <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
            <%= f.submit "送信する" %>
          <% else %>
            <p>投稿するにはログインが必要です</p>
            <%= link_to 'ログイン', new_user_session_path %>
          <% end %>
        <% end %>
      </div>
    </div>
</div>