<div class="container circuitshow">
  <h1 class="text-center text-white"><%= @circuit_track.name %>の詳細</h1>
  <div class="row justify-content-center">
    <div class="col-md-7">
      <table class="table text-white">
        <tbody>
          <tr>
            <th>サーキット名</th>
            <td><%= @circuit_track.name %></td>
          </tr>
          <tr>
            <th>住所</th>
            <td><%= @circuit_track.address %></td>
          </tr>
          <tr>
            <th>ベストタイム（上位10位まで）</th>
          </tr>
          <% @top_times&.reject { |time| time.user&.deleted? }.reverse_each do |time| %>
            <tr>
              <td>
                <% if time.user %>
                  <%= link_to time.user.nickname, user_path(time.user_id) %>
                <% else %>
                  削除済みのユーザー
                <% end %>
              </td>
              <td>
                <%= time.user&.mycar %>
              </td>
              <td>
                <%= time.my_best_time %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <% if @circuit_track.circuit_image.attached? %>
        <%= image_tag @circuit_track.circuit_image, size: "400x320" %>
      <% end %>
    </div>
  </div>
</div>