<div class="container usershow">
  <h1 class="text-center text-white"><%= @user.nickname %>さんのマイページ</h1>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <table class="table text-white">
        <tbody>
          <% if admin_signed_in? %>
          <tr>
            <th>氏名</th>
            <td><%= @user.last_name %><%= @user.first_name %></td>
          </tr>
          <% end %>
          <% if @user == current_user %>
          <tr>
            <th>氏名</th>
            <td><%= @user.last_name %><%= @user.first_name %></td>
          </tr>
          <% end %>
          <tr>
            <th>住所</th>
            <td><%= @user.address %></td>
          </tr>
          <tr>
            <th>年齢</th>
            <td><%= @user.age %>歳</td>
          </tr>
          <tr>
            <th>愛車</th>
            <td><%= @user.mycar %></td>
            <% if @user.mycar_image.attached? %>
            <td><%= image_tag @user.mycar_image, size: "300x220" %></td>
            <% end %>
          </tr>
          <th>メインサーキット</th>
          <td><%= CircuitTrack.find_by(id: @user.circuit_track_id)&.name %></td>
          </tr>
          <tr>
            <th>ベストタイム</th>
            <td>
              <% @my_best_times.each do |my_best_time| %>
                <%= my_best_time.circuit_track.name %>: <%= my_best_time.my_best_time %><br>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>

      <% if @user == current_user %>
        <%= link_to "マイページを編集する", edit_user_path(@user.id), class: "btn btn-primary text-white" %>
      <% end %>
      
    </div>
    <div class="col-md-4">
      <h3 class="card-title text-white">プロフィール</h3>
      <div class="card">
        <div class="card-body">
          <div class="card-text">
            <% if @user.freeprofile.nil? %>
              <p><%= @user.freeprofile %></p>
            <% else %>
              <p><%= safe_join(@user.freeprofile.split("\n"), tag(:br)) %></p>
            <% end %>
          </div>
        </div>
      </div>
        
        
      <h3 class="text-white">フォロー</h3>
      <div class="card">
        <div class="card-body">
          <div class="card-text">
            <% @user.follows.each do |follow| %>
              <p><%= link_to User.find(follow.followed_id).nickname, user_path(follow.followed_id) %></p>
            <% end %>
          </div>
        </div>
      </div>
      
      <h3 class="text-white">フォロワー</h3>
      <div class="card mt-4">
        <div class="card-body">
          <div class="card-text">
            <% User.my_followers(@user).each do |follower| %>
              <p><%= link_to User.find(follower.id).nickname, user_path(follower.id) %></p>
            <% end %>
          </div>
        </div>
      </div>
      
      <% if current_user && current_user != @user %>
        <% if current_user.following?(@user) %>
          <%= button_to "フォロー解除", unfollow_user_path(@user), method: :post, class: "btn btn-danger" %>
        <% else %>
          <%= button_to "フォローする", follow_user_path(@user), method: :post, class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>