<div class="container usershow">
  <h1 class="text-center text-white"><%= @user.nickname %>さんのマイページ</h1>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <table class="table text-white">
        <tbody>
          <% if admin_signed_in? %>
          <tr>
            <th>氏名</th>
            <td><%= @user.last_name %><%= @user.first_name %></td>
          </tr>
          <% end %>
          <% if @user == current_user %>
          <tr>
            <th>氏名</th>
            <td><%= @user.last_name %><%= @user.first_name %></td>
          </tr>
          <% end %>
          <tr>
            <th>住所</th>
            <td><%= @user.address %></td>
          </tr>
          <tr>
            <th>年齢</th>
            <td><%= @user.age %>歳</td>
          </tr>
          <tr>
            <th>愛車</th>
            <td><%= @user.mycar %></td>
            <% if @user.mycar_image.attached? %>
            <td><%= image_tag @user.mycar_image, size: "300x220" %></td>
            <% end %>
          </tr>
          <th>メインサーキット</th>
          <td><%= CircuitTrack.find_by(id: @user.circuit_track_id)&.name %></td>
          </tr>
          <tr>
            <th>ベストタイム</th>
            <td>
              <% @my_best_times.each do |my_best_time| %>
                <%= my_best_time.circuit_track.name %>: <%= my_best_time.my_best_time %><br>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>

      <% if @user == current_user %>
        <%= link_to "マイページを編集する", edit_user_path(@user.id), class: "btn btn-primary text-white" %>
      <% end %>
      
    </div>
    <div class="col-md-4 text-white">
      <h2>プロフィール</h2><br>
      <p><%= @user.freeprofile %></p>

      <div class="follow-sidebar text-white">
        <h3>フォロー</h3>
        <% @user.follows.each do |follow| %>
          <p><%= link_to User.find(follow.followed_id).nickname, user_path(follow.followed_id) %></p>
        <% end %>
      </div>

      <div class="follower-sidebar text-white">
        <h3>フォロワー</h3>
        <% @user.followers.each do |follower| %>
          <% unless follower == @user %>
            <p><%= link_to User.find(follower.id).nickname, user_path(follower.id) %></p>
          <% end %>
        <% end %>
      </div>

      <% if current_user && current_user != @user %>
        <% if current_user.following?(@user) %>
          <%= button_to "フォロー解除", unfollow_user_path(@user), method: :post, class: "btn btn-danger" %>
        <% else %>
          <%= button_to "フォローする", follow_user_path(@user), method: :post, class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>