<!DOCTYPE html>
<html>
  <head>
    <title>Let's Driving!!!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://kit.fontawesome.com/639405144b.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      main {
        background-color: #2f2f2f;
      }
      header {
        background-color: #ff3838;
        color: white;
      }
      header a {
        color: white;
      }
      footer {
        background-color: #ff3838;
      }
    </style>
  </head>

  <body class="d-flex flex-column vh-100 ">
        <header>
      <nav class="navbar navbar-expand-lg border">
        <div class="container">
          <a class="navbar-brand" href="/">Let's Driving!!!</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if admin_signed_in? %>
              <li class="nav-item">
                <%= link_to users_path, class: "btn nav-link", style: "color: white;" do %>
                  <i class="fa fa-users"></i>
                  会員管理
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to posts_path, class: "btn nav-link", style: "color: white;" do %>
                  <i class="fa fa-pencil"></i>
                  投稿管理
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to circuit_tracks_path, class: "btn nav-link", style: "color: white;" do %>
                  <i class="fa fa-map"></i>
                  サーキット管理
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_admin_session_path, method: :delete, class: "btn nav-link", style: "color: white;" do %>
                  <i class="fa fa-sign-out-alt"></i>
                  ログアウト
                <% end %>
              </li>
            <% elsif user_signed_in? %>
              <li class="nav-item">
                <%= link_to user_path(current_user), class: "btn nav-link", style: "color: white;" do %>
                  <i class="fa fa-user"></i>
                  マイページ
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to parts_path, class: "btn nav-link", style: "color: white;" do %>
                  <i class="fas fa-wrench"></i>
                  パーツレビュー
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to circuit_tracks_path, class: "btn nav-link", style: "color: white;" do %>
                  <i class="fas fa-flag-checkered"></i>
                  サーキット
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to track_events_path, class: "btn nav-link", style: "color: white;" do %>
                  <i class="fa fa-calendar"></i>
                  イベント
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to users_path, class: "btn nav-link", style: "color: white;" do %>
                  <i class="fa fa-users"></i>
                  ユーザーズ（仮）
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete, class: "btn nav-link", style: "color: white;" do %>
                  <i class="fa fa-sign-out-alt"></i>
                  ログアウト
                <% end %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to circuit_tracks_path, class: "btn nav-link", style: "color: white;" do %>
                  <i class="fas fa-flag-checkered"></i>
                  サーキット
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to track_events_path, class: "btn nav-link", style: "color: white;" do %>
                  <i class="fa fa-calendar"></i>
                  イベント
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_registration_path, class: "btn nav-link", style: "color: white;" do %>
                  <i class="fa fa-user-plus"></i>
                  新規登録
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_session_path, class: "btn nav-link", style: "color: white;" do %>
                  <i class="fa fa-sign-in-alt"></i>
                  ログイン
                <% end %>
              </li>
            <% end %>
            </ul>
        </div>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <div class="container border-top">
        <div class="row no-gutters">
          <div class="col-md-4">
            サーキット走行好き向けのSNSです。
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>